POSTGRES_USER=daikichi
POSTGRES_PASSWORD=password
POSTGRES_DB=daikichi
APPLICATION_HOSTNAME=daikichi.5xruby.com
ERRBIT_HOST=https://errbit.5xruby.dev
ERRBIT_PROJECT_KEY=
ERRBIT_ENV=production
RAILS_MASTER_KEY=
POSTAL_KEY=
POSTAL_HOST=
