version: '2'
services:
  web:
    build: .
    ports:
      - '3000:3000'
    volumes:
      - .:/usr/src/app
      - ./vendor/bundle:/usr/shared/bundle
    depends_on:
      - db
    environment:
      - DB_HOST=db
      - DB_USER=daikichi
      - DB_PASS=password
      - DB_NAME=daikichi
      - RECEIPIENT=noreply@5xruby.tw
      - MAIL_HOST=5xruby.tw
      - SMTP_HOST=localhost
      - SMTP_PORT=587
      - SMTP_USER=5xruby
      - SMTP_PASS=password
      - SMTP_AUTHENTICATION=plain
      - SMTP_STARTSSL=true
      - SECRET_KEY_BASE=
      - RAILS_SERVE_STATIC_FILES=true
  db:
    image: postgres:9.5-alpine
    environment:
      - POSTGRES_USER=daikichi
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=daikichi
    volumes:
      - ./postgres:/var/lib/postgresql/data
      - /usr/share/zoneinfo:/usr/share/zoneinfo
