@media (min-width: 768px) {
  .status-selector {
    margin-bottom: 60px;
    .btn{
      margin-right: 10px;
    }
  }
}

@media (max-width: 767px) {
  .status-selector .btn {
    margin-bottom: 10px;
  }
}

.modal-body {
  white-space: pre;
}
