.container {
  .table {
    margin-bottom: 0;

    ._11 {
      width: 11%;
      text-align: center;
    }
    ._20 {
      width: 20%;
      text-align: center;
    }
    ._27 {
      width: 27%;
      text-align: center;
    }
  }
}

#myModal {
  .modal-body {
    white-space: pre;
  }
}
