<p>Hello,</p>
<p>Here is a leave application about <%= @leave_application.user.name %></p>
<%= link_to "Go check it :)", "https://daikichi.5xruby.tw/backend/leave_applications/#{@leave_application.id}/verify" %>
