.row
  .col-md-6.col-sm-6.col-xs-6
    .form-group
      %label{:for=>"year"} 年度
      = select_tag :year,
        options_for_select( (2016 .. 2017), specific_year), class: "form-control"
  .col-md-6.col-sm-6.col-xs-6
    .form-group
      %label{:for=>"status"} 假別
      = select_tag :status,
        options_for_select(status_select_option, params[:status]), class: "form-control"

