.panel.panel-info
  .panel-heading 簡易操作說明
  .panel-body
    1. 工時設定為每日 (9:30 - 12:30；12:30 - 18:30)，且請假的最小單位為一小時，若早於 9:30 會視同 9:30 或晚於 18:30 會視同 18:30。
    %br
    2. 若需請整天、多天連續假，都可以直接選取頭尾日期時間，系統會自動扣除非上班小時數。
    %br
    3. 申請 remote 或請假，麻煩主動通知 Sabrina 或老闆，以利審核進度。審核未通過，代表未完成請假手續 ，敬請協助配合，謝謝。
    %br
    %br
    備註：
    %br
    ☞ 若有任何問題請至
    %a{href: 'https://github.com/5xRuby/daikichi/issues'}>_Github_
    開 issue，會盡快修復

    %br
    ☞ 關於請假規則有任何疑問請查看
    %a{href: 'https://docs.google.com/document/d/1ei1AT3qlV87MV2Gbn-dij-66rGXDkctpQDruGE_mWMg/edit'}>_請假手冊_

= render 'alert_modal'

- content_for :js do
  = javascript_include_tag "page_alert"

