.panel.panel-info
  .panel-heading 事假規則說明
  .panel-body 
    匯入的假單皆顯示為無薪事假，預設會使用 補休 -> 特休 -> 事假 額度做扣抵
    %br
    系統上線後事假需詳細選擇自己要使用的假別去請假。

.panel.panel-info
  .panel-heading 簡易操作說明
  .panel-body 
    1. 工時設定為每日 (9:30 - 12:30；12:30 - 18:30)，最低請假時數為一小時，若早於 9:30 會視同 9:30 或晚於 18:30 會視同 18:30。
    %br
    2. 若需請整天、多天連續假，都可以直接選取頭尾日期時間，系統會自動扣除非上班小時數。

    %br
    備註：若有任何問題請至 
    %a{href: 'https://github.com/5xRuby/daikichi/issues'}>_Github_ 
    開 issue，會盡快修復