defaults: &defaults
  metadata:
    title: ''

  admin_user:
    name: '系統管理員'
    login_name: 'admin'
    email: 'admin@example.com'
    role: 'admin'
    password: '12345678'

  leave_types:
    - annual
    - bonus
    - marriage
    - funeral
    - maternity
    - personal
    - official
    - work_related_injury
    - sick

  leave_time:
    leave_for_new_employees: true
    max_annual_days: 30
    daily_hour: 8
    days_in_a_year: 365.0

  leaves:
    marriage: 8
    funeral: 365
    maternity: 56
    personal: 14
    official: 365
    work_related_injury: 365
    sick: 30

development:
  <<: *defaults
  neat_setting: 800

test:
  <<: *defaults

production:
  <<: *defaults
