%h2= t("captions.leave_times.index", year: specific_year)

= type_selector 'showing',
  t("title.leave_times.showing"),
  (LeaveTimesController::STARTING_YEAR .. Time.now.year).map {|y| [y,y] } + LeaveTimesController::SHOWINGS.map {|type| [t("title.leave_times." + type.to_s), type] },
  showing

= leave_times_table current_collection, [:name]
