body {
  font-size: 16px;
}

#nav {
  height: 50px;

  .navbar {
    margin-bottom: 0;
  }
}

#wrap {
  padding: 10px 0;

  #flash {
    position: relative;
    top: -8px;
    margin-bottom: 0;

    .alert {
      margin-bottom: 0;
    }
  }
}

#footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-top: 1px solid #ccc;
  font-size: 0.8em;
  text-align: center;
  color: #666;

  p {
    position: relative;
    top: -0.4em;
    margin-bottom: 0;
  }
}
