// Place all the styles related to the leave_applications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.status-selector {
  margin-bottom: 60px;
  .btn.btn-default{
    margin-right: 10px;
  }
}

.modal-body {
  white-space: pre;
}
